<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione - Meedea</title>
    <link rel="stylesheet" type="text/css" href="signin.css">
    <script>
        async function signIn(){

            var eemail=  document.getElementById('email').value
            var eusername = document.getElementById('username').value
            var epassword =  document.getElementById('password').value

            console.log(eemail, eusername, epassword)

            const rawResponse = await fetch('http://localhost:5000/sign-in', {
                method: 'POST',
                body: JSON.stringify(
                    {
                        email: eemail, 
                        username: eusername,
                        password: epassword
                    })
            });
            const content = await rawResponse.json();

        }
    </script>
</head>
<body>

    <header>
        <h1>Registrazione</h1>
    </header>

    <nav>
        <a href="index.html">Home</a>
        <a href="profile.html">Profilo</a>
        <a href="signin.html">Iscriviti</a>
        <a href="login.html">Accedi</a>
    </nav>

    <div class="form-container">
       

            <input type="text" id="username" name="username" required placeholder="Scegli un username">
            <input type="email" id="email" name="email" required placeholder="Inserisci la tua email">
            <input type="password" id="password" name="password" required placeholder="Scegli una password">

            <button onclick="signIn()">Registrati</input>
        
        
 

        <p>Hai già un account? <a href="/login">Accedi qui</a></p>
    </div>

</body>
</html>
