body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f4f4f9;
     text-align: center;
   }

   header {
     background-color: #007bff;
     color: white;
     padding: 20px;
   }

   h1 {
     margin: 0;
   }

   .form-container {
     width: 300px;
     margin: 50px auto;
     padding: 20px;
     background-color: white;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }

   input[type="text"],
   input[type="email"],
   input[type="password"] {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ddd;
     border-radius: 5px;
   }

   button {
     padding: 10px 20px;
     background-color: #007bff;
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 25px;
     font-size: 16px;
     width: 100%;
     transition: background-color 0.3s ease, transform 0.2s ease;
   }

   button:hover {
     background-color: #218838;
     transform: scale(1.05);
   }

   p {
     margin-top: 10px;
   }

   a {
     color: #007bff;
   }

   a:hover {
     text-decoration: underline;
   }

   nav {
     background-color: #6a4c9c;
     /* Colore lilla/viola scuro */
     margin-top: 20px;
     padding: 10px 0;
   }

   nav a {
     margin: 0 15px;
     text-decoration: none;
     color: white;
     font-weight: bold;
     padding: 10px 15px;
     /* Aggiunto padding per aumentare l'area cliccabile */
     border-radius: 5px;
   }

   nav a:hover {
     background-color: #e1bee7;
     /* Colore lilla chiaro al passaggio del mouse */
     color: white;
     /* Mantiene il testo bianco anche al passaggio del mouse */
   }

