body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    text-align: center;
  }
  
  header {
    background-color: #007bff;
    color: white;
    padding: 40px;
  }
  
  h1 {
    margin: 0;
  }
  
  
  .content {
    margin-top: 50px;
    padding: 20px;
  }
  
  .Channel-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .join-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid #3b82f6;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .join-button:hover {
    background-color: #10b981;
    border-color: #10b981;
    transform: scale(1.05);
  }
  
  .join-button:focus {
    outline: none;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  nav {
    background-color: #6a4c9c;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 16px 20px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    color: #333; 
    background-color: #e1bee7; 
  }
  
  table td {
    background-color: #f9f9f9;
  }
  
  table tr:nth-child(even) td {
    background-color: #f1f1f1;
  }
  
  .Channel-link {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
  }
  
  .Channel-link:hover {
    color: #0056b3;
    background-color: #e1bee7;
  }
  
  @media (max-width: 768px) {
    table {
      width: 90%;
    }
  
    .Channel-link {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    table {
      width: 95%;
    }
  
    .Channel-link {
      font-size: 12px;
    }
  }