<header class="bg-primary text-white text-center py-3">
  <h1>Welcome in Meedea</h1>
</header>
<nav>
  <a href="/index.ejs">Home</a>
  <a href="/views/pages/channel.ejs">Channels</a>
  <a href="/views/pages/signin.ejs">Signin</a>
  <a href="/views/pages/login.ejs">Login</a>
  <a href="/views/pages/profile.ejs">Profile</a>
</nav>
